.page {
    background-color: #000114;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.pageTitle {
   text-shadow: 3px 3px 6px #6b0274, -3px -3px 7px #04d5ec, -3px 3px 8px #02f840, 3px -3px 9px #6b0274;
   color: #fff;
   margin-top: 5vh;
   font-size: 3.5rem;
   letter-spacing: .2em;
}
.pageHeading {
   font-size: 1.5rem;
   width: 90%;
   margin: 5vh 0;
   text-align: center;
   color: white;
   /* text-shadow: 3px 3px 6px #6b0274, -3px -3px 7px #04d5ec, -3px 3px 8px #02f840, 3px -3px 9px #6b0274; */
}
@media (min-width: 501px) and (max-width: 730px) {
   .pageHeading {
      font-size: 1.5rem;
   }
}
@media (max-width: 500px) {
   .pageHeading {
      font-size: .9rem;
   }
}
/* .container {
    display: flex;
    justify-content: center;
    align-items: top;
    gap: 5vw;
    height: 50vh;
    border: 1px solid red;
    
     border: 1px solid red;
} */

.container {
   border: 1px solid red;
}

.list {
    /* margin: 8vh 0; */
    color: white;
    font-size: 15px;
    /* border: 1px solid red; */
    list-style: none;
    /* animation: move 10s infinite;  */
    overflow: hidden;
    
}
@keyframes move {
   0% {
      transform: translateY(0);
   }
   100% {
      transform: translateY(-1000px);
   }
   
}

.list li {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
}

.list li img {
   /* margin: 5vh 0; */
   width: auto;
   height: 50px;
   background-color: transparent;
   
   
}
.list h3 {
    margin-bottom: 3vh;
}

.story {
   background-color: #000114;
   margin-bottom: 100vh;
}
.storyHeading {
   text-shadow: 3px 3px 6px #6b0274, -3px -3px 7px #04d5ec, -3px 3px 8px #02f840, 3px -3px 9px #6b0274;
   color: white;
}

