/* contact.module.css */
.page {
    text-align: center;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    background-color: #000114;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    p {
      
      padding-bottom: 5vh;
      width: 50%;
      font-size: 1em;
    }
    
  }
  .page h2 {
    padding: 5vh 0;
    font-size: 2.2em;
    text-shadow: 3px 3px 6px #6b0274, -3px -3px 7px #04d5ec, -3px 3px 8px #02f840, 3px -3px 9px #6b0274;

  }
  .form {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    align-items: center;
  }
  
  .label {
    font-weight: bold;
    margin-bottom: 4px;
  }
  
  .inputField,
  .message {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 5vh;
    background-color: rgb(127, 255, 251);
    width: 50vw;
    
  }
  
.sendBtn {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
  }
  .sendBtn:hover {
    opacity: .7;
  }
  /* .sendBtn:active {
    filter: saturate(100%);
  } */
  .loading {
    
    display: grid;
    place-items: center;
    /* border: 1px solid rgb(127, 255, 251); */
    border-radius: 40px;
    display: grid;
    place-items: center;
    padding-bottom: 15vh;
    text-align: center;
    width: 40vw;
    h2 {
      color: rgb(12, 245, 93) !important;
      text-shadow: none !important;
      font-style: italic;
      font-weight: 300;
      margin: 5vh 0;
      font-size: 2em;
      

    }
  }

@media (max-width: 800px) {
  .inputField,
  .message {
    font-size: 12px !important;
    width: 75vw;
  }
  .message {
    height: 100px;
  }
  .page p {
    width: 75vw;
  }
  .sendBtn {
    
    padding: 8px 16px;
    font-size: 12px;
  }
}
