.page {
  background-color: #000114;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  > h1,
  p {
    color: white;
  }
  .heading {
    text-shadow: 3px 3px 6px #6b0274, -3px -3px 7px #04d5ec,
      -3px 3px 8px #02f840, 3px -3px 9px #6b0274;
    text-align: center;
  }
  .imgAndTxt {
    /* border: 1px solid red; */
    display: flex;
    padding: 30px;
    align-items: center;
    .imgContainer,
    .txtContainer {
      flex: 1;
    }
    .imgContainer {
    
      display: grid;
      place-items: center;
      > img {
        width: 200px;
        height: auto;
      }
    }
    .txtContainer {
        /* border: 1px solid blue; */
        display: flex;
        flex-direction: column;
        
        >p {
            text-align: center;
            flex: 1;
            
            
        }
        .socials {
            flex: 1;
            margin-top: 5vh;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            > a {
              > img {
                width: 100px;
                height: 100px;
              }
            }
          }
    }
    
  }
}
@media (max-width: 767px) {
  /* CSS rules for mobile devices go here */
  .page {
    border: 1px solid red;
    .heading {
      width: 80%;
    }
    .txtContainer {
        >p {
            font-size: .85em;
        }
        .socials {
            >a {
                >img {
                    /* border: 1px solid red; */
                    width: 75px !important;
                    height: 75px !important;
                }
            }
            
        }
    }
  }
}

.loader {
  display: grid;
  place-items: center;
  padding: 50vh 0;
  background-color: #000114;
  > h1 {
    font-size: 3.5em;
    margin-top: 10vh;
    text-align: center;
    text-shadow: 3px 3px 6px #6b0274, -3px -3px 7px #04d5ec,
      -3px 3px 8px #02f840, 3px -3px 9px #6b0274;
    color: white;
  }
}
.loader h1 {
}
