/* * {
  border: 1px solid red;
} */

.page.loading {
  height: 100vh !important;
  overflow: hidden;
}
.page {
  background-color: #000114;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5vh;
  max-width: 100vw;
  padding-top: 5vh;
  height: 110vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  /* padding: 5vh 0; */
  
  > h1,
  p {
    color: white;
  }
  .heading {
    text-shadow: 3px 3px 6px #6b0274, -3px -3px 7px #04d5ec,
      -3px 3px 8px #02f840, 3px -3px 9px #6b0274;
    text-align: center;
    font-size: 2.5em;
  }
  .imgAndTxt {
    /* border: 1px solid red; */
    display: flex;
    padding: 20px 0;
    align-items: center;

    .imgContainer,
    .txtContainer {
      /* border: 1px solid red; */
      /*  margin: 10px; */
      flex: 1;
      max-width: 60vw;
    }
    .imgContainer {
      display: grid;
      place-items: center;
      > img {
        box-shadow: 3px 3px 15px #7645d8;
        height: auto;
        border-radius: 20px;
        
      }
    }
    .txtContainer {
      /* border: 1px solid blue; */
      display: flex;
      flex-direction: column;

      > p {
        text-align: center;
        flex: 1;
        background-image: linear-gradient(45deg, #ff8a00, #ff0080);
        -webkit-background-clip: text; /* For compatibility with some browsers */
        background-clip: text; /* This property is now widely supported */
        color: transparent;
      }
      .socials {
        flex: 1;
        margin-top: 5vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        > a {
          &:nth-child(2) {
            > img {
              border-radius: 50%;
            }
          }
          > img {
            border-radius: 20%;
            box-shadow: 3px 3px 15px #7645d8;
            width: 100px;
            height: 100px;
          }
        }
      }
    }
  }
}

@media (max-width: 700px) {
  /* CSS rules for mobile devices go here */
  .page {
    
    height: 100vh;
    .heading {
      width: 80%;
      font-size: 2em;
    }
    .imgContainer {
      > img {
        width: 175px !important;
        
        
      }
    }
    .txtContainer {
      > p {
        font-size: 0.85em;
      }
      .socials {
        gap: 20px;
        > a {
          > img {
            /* border: 1px solid red; */
            width: 75px !important;
            height: 75px !important;
          }
        }
      }
    }
    .bottom {
      font-size: 1em;
      padding-bottom: 5vh;
    }
  }
}
@media (max-width: 355px) {
  .page {
    justify-content: flex-start;
    gap: 10vh;
    padding-top: 10vh;
  }
  .heading {
    font-size: 1.5em;
  }
}
@media (min-width: 700.1px) and (max-width: 1023px) {
  /* CSS rules for tablet devices go here */

  .imgContainer {
    > img {
      width: 250px !important;

      
    }
  }
  .txtContainer p {
    font-size: 1.5em;
  }
}

@media (min-width: 1024px) {
  /* CSS rules for desktop devices go here */

  .imgContainer img {
    width: 270px;
  }
  .txtContainer p {
    font-size: 1.75em;
  }
}

.loader {
  display: grid;
  place-items: center;
  padding: 20vh 0;
  background-color: #000114;
  > h1 {
    font-size: 3.5em;
    margin-top: 10vh;
    text-align: center;
    text-shadow: 3px 3px 6px #6b0274, -3px -3px 7px #04d5ec,
      -3px 3px 8px #02f840, 3px -3px 9px #6b0274;
    color: white;
  }
}
.bottom {
  color: white;
  text-align: center;
  font-size: 1.2em;
  max-width: 80%;
  .portfolioLink {
    text-decoration: none;
    color: white;
    font-style: italic;
    &:hover {
      color: #02f840;
      text-decoration: underline;
    }
  }
}
