.page {
    background-color: #000114;
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.heading, .subheading {
    text-shadow: 3px 3px 6px #6b0274, -3px -3px 7px #04d5ec, -3px 3px 8px #02f840, 3px -3px 9px #6b0274;
    a {
        color: inherit;
        &:hover {
            opacity: .7;
        }
    }

}

.heading {
    color: white;
    padding-top: 5vh;
    font-size: 2.5em;
    letter-spacing: 5px;
    text-transform: uppercase;
    
}
@media (max-width: 600px) {
   .heading {
    font-size: 2em;
   }
   .subheading {
    font-size: 1em !important;
    /* border: 1px solid red; */
   }
}
.subheading {
    margin: 5vh 0;
    color: white;
    font-size: 1.5em;
    width: 80%;
    
    align-self: center;
}
@media (max-height: 450px) {
    .heading {
        font-size: 2em !important; 
    }
}