* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap');

$cool-yellow: rgb(204, 238, 6);
$cool-purple: rgb(92, 76, 240);
$teal-light-blue: #51e7fb;

.container {
  margin-top: 5vh;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 60vh;
  gap: 10px;

  > div {
    flex: 0 0 15vw;
    border-radius: 0.5rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    box-shadow: 1px 5px 15px #1e0e3e;
    position: relative;
    overflow: hidden;

    &:nth-of-type(1) {
      background: url("https://images.ctfassets.net/72n9zqcdnf4y/2X1A0fgQf9GDdGYQsfvy34/18d91c93e9763840ac75aa4ee07d3095/Giannis_A_USATI.jpg")
        no-repeat 50% / cover;
      
    }
    &:nth-of-type(2) {
      background: url("https://media.sweetwater.com/m/products/image/a33a7cfc57Xam2hHAmFW0R3kpzAnF3YG3iMX9jpi.jpg?quality=82&width=750&ha=a33a7cfc57eef7be")
        no-repeat 90% / cover;
      
    }
    &:nth-of-type(3) {
      background: url("https://www.simplilearn.com/ice9/free_resources_article_thumb/Business_Analytics_vs_Data_Analytics.jpg")
        no-repeat 50% / cover;
      
    }
    &:nth-of-type(4) {
      background: url("https://uploads-ssl.webflow.com/608353cb0067e32edaa3e4c9/619518f59591bd962396074d_Content%20Images%20-%20Which%20AI%20Is%20Learn%20by%20Its%20Own%20(2).jpg")
        no-repeat 50% / cover;
    }

    .content {
      /* text-shadow: 3px 3px 10px #1e0e3e, -3px 3px 10px #1e0e3e,
        -3px -3px 10px #1e0e3e, 3px -3px 10px #1e0e3e,
        -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
      
      color: #fff;
      display: flex;
      align-items: center;
      
      padding: 15px;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
      background: rgb(2, 2, 46);
      background: linear-gradient(
        0deg,
        rgba(2, 2, 46, 0.6755077030812324) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      transform: translatey(100%);
      transition: opacity 0.5s ease-in-out, transform .5s ease;
      visibility: hidden;
      /* font-family: 'Roboto', sans-serif; */

    }

    &:hover {
      flex: 0 0 25vw;
      box-shadow: 1px 3px 15px #7645d8;
      transform: translatey(-30px);
      /* opacity: .5; */
    }
    &:hover .content {
      backdrop-filter: blur(5px);
      
      transform: translatey(0%);
      visibility: visible;
    }
    
    &:hover .content .heading {
      animation: fadeIn 0.5s ease-in-out forwards, textGlow 2s ease infinite 1s;
      animation-delay: 0.5s;
      font-size: 1.5em;
      opacity: 0;
      font-family: "Montserrat", sans-serif;
      
    }
    @keyframes textGlow {
      0% {
        text-shadow: 0 0 5px $teal-light-blue, 0 0 10px $teal-light-blue, 0 0 20px $teal-light-blue;
      }
      50% {
        text-shadow: 0 0 10px $teal-light-blue, 0 0 20px $teal-light-blue, 0 0 40px $teal-light-blue;
      }
      100% {
        text-shadow: 0 0 5px $teal-light-blue, 0 0 10px $teal-light-blue, 0 0 20px $teal-light-blue;
      }
    }

    &:hover .content span {
      font-size: 1em;
      width: 100%;
      text-align: center;
      color: rgb(204, 238, 6); /* Text color */
      -webkit-text-stroke: 0.1px black;
      font-weight: bold;
      text-shadow: 2px 2px 4px rgb(92, 76, 240);
      background: rgba(0, 0, 0, 0.5);
      border-radius: 5%;
      animation: fadeIn 0.5s ease-in-out forwards;
      animation-delay: 0.5s;
      box-shadow: 1px 5px 15px #1e0e3e;
      opacity: 0;
      /* font-family: 'Roboto', sans-serif; */
      /* font-family: "Nunito", sans-serif; */
      font-family: "Open Sans", sans-serif;
      /* font-family: "Montserrat", sans-serif; */
      /* font-family: "Merriweather", serif; */
    }
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .heading {
    
    font-size: 1.2em !important;
      
    
  }
  .content span {
    font-size: .9em !important;

  }
}
@media (max-width: 600px) {
  .container {
    > div {
      &:hover .content span {
        font-size: .8em !important;
        width: 42vw;
        line-height: 2em;
      }
      .heading {
        font-size: 1.2em !important;
      }
    }
  }
  .container:hover > div {
    flex: 0 0 10vw; /* Style for unhovered divs when any card in .container is hovered */
  }
  .container > div:hover {
    flex: 0 0 45vw; /* Style for the hovered card */
  }
  .container > div {
    flex: 0 0 20vw; /* Default style for all divs */
  }
  
}
.viewMoreBtn {
  
  border-radius: 5px;
  width: 100px;
  height: 30px;
  border: 1px solid white;
  background:  transparent;
  color: white;
  
  font-weight: bold !important;
  font-size: .9em;
  
  &:hover {
    animation: illuminate 1s ease forwards;
    box-shadow: 1px 3px 15px #7645d8;
    background-color: #51e7fb90;
  }
  &:active {
    transform: scale(.9);
    opacity: .7;
  }
  @keyframes illuminate {
    0% {
      box-shadow: none;
    }
    100% {
      box-shadow: 3px 3px 15px #51e7fb, 
                  -3px -3px 15px #51e7fb, 
                  -3px 3px 15px #51e7fb, 
                  3px -3px 15px #51e7fb;
    }
  }
}


@media (max-height: 450px) {
  .container div{
    &:hover {
      transform: translatey(-20px);
    }
    
  }
  .heading {
    font-size: 1em !important; 

  }
  .content span {
    font-size: .7em !important;
  }
}

