* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.heroSection {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #000114; */


  height: 80vh;
  overflow: hidden;
  width: 90vw;
  border-radius: 10px;
  margin-bottom: 100px;
}

.hero {
  width: auto;
  position: relative;
  display: grid;
  place-items: center;
  
}
.hero img {
  position: absolute;
  top: 50%; /* Move the top edge to the vertical center */
  left: 50%; /* Move the left edge to the horizontal center */
  transform: translate(-50%, -50%);
  width: 90vw;
  border-radius: 150px;
  height: auto;
  padding: 100px;
}
@media (max-width: 768px) { 
  .hero img {
    padding: 10px;
    border-radius: 50px;
    /* border: 1px solid red; */
  }
}
@media (min-width: 1024px) {
  .hero img {
    width: 80vw;
  }
}
.hero h3 {
  font-size: 1em;
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
    0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;

  color: white;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
  margin-bottom: 50px;
}
@media (max-width: 700px) {
    .hero img {
      width: 90vw;
    }
    .hero h3 {
      font-size: .85em;
    }
}
@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    /*     color: #fccaff;
      text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
        0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
                0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 
                0 0 98px #ff0000;
    color: #fff6a9;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    /*     color: #fccaff;
      text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
        0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
      0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: black;
  }
}
.txt {
     position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  color: black;
}

