.navbar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #09f6f2; /* You can customize the background color */

  padding: 10px; /* Add padding for better visibility */
  z-index: 1000; /* Adjust the z-index to ensure it's above other elements */
  width: 75px;
  height: 75px;
  border-radius: 100px;
  margin: 10px;
  border: 1px groove grey;

  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60px;
  }
  .icon.fadeOut {
    
    animation: fadeOut .5s ease forwards;
  }
  .collapse /* collapse button*/ {
    animation: fadeIn 1s forwards;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 30px;
    height: 30px;
    border-radius: 20px 0 10px 0;
    border: none;
    background-color: blueviolet;
    color: white;
    z-index: 100;
    font-weight: bold;
  }
}

.collapse:hover {
  background-color: rgba(167, 111, 219, 0.782);
}
.collapse.collapsing {
  position: absolute;
  top: 0px;
  left: 0px;
  animation: zoomAway 0.5s linear forwards;
}

@keyframes zoomAway {
  0% {
    transform: translateY(-10px);
    opacity: 7;
  }
  50% {
    transform: translateY(-40px);
    opacity: 5;
  }
  100% {
    transform: translateY(-80px);
    opacity: 0;
  }
}

/* .icon.expanded {
    display: none;
} */

.navbar.expanded {
  animation: rotate 2s ease-in-out forwards;
  border-radius: 20px;
  text-align: center;
  /* width: 90px;
  height: 150px; */
}
@keyframes rotate {
  0% {
    transform: rotate(0deg); /* Starting rotation angle */
  }
  50% {
    transform: rotate(360deg); /* Ending rotation angle (360 degrees) */
    border-radius: 20px;
    width: 75px;
    height: 75px;
    display: none;
  }
  100% {
    transform: rotate(360deg);
    width: 100px;
    height: 150px;
  }
}
.links {
  font-size: 1em;
  animation: fadeIn 1s ease forwards;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  > ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
    .a {
      text-decoration: none;
      color: blueviolet;
    }
    > li {
      margin: 8px 0px;
      font-weight: bold;
      letter-spacing: 1px;
      font-size: 0.9em;
      &:hover {
        background-color: #98ff98;
        border-radius: 10px;
      }
    }
  }
}

.navbar.transition {
  /* border: 1px solid red; */

  width: 100px;
  height: 150px;
}

.links.collapsing {
  animation: fadeOut .5s ease forwards;
}
@keyframes fadeOut {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}
.navbar.collapsing {
  animation: collapse 1s ease forwards;
}
@keyframes collapse {
  0% {
    width: 100px;
    height: 150px;
  }
  50% {
    border-radius: 20px;
  }
  75% {
    border-radius: 30px;
  }
  100% {
    width: 75px;
    height: 75px;
    border-radius: 100px;
  }
}
.icon {
  animation: fadeIn .5s forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 600px) {
  .navbar {
    width: 50px;
    height: 50px;
    margin: 5px;
  }
  .icon {
    height: 40px !important;
  }
  .navbar.expanded {
    animation: rotate 2s ease-in-out forwards;
    /* width: 90px;
      height: 150px; */
  }
  .links {
    font-size: 0.9em;
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg); /* Starting rotation angle */
    }
    50% {
      transform: rotate(360deg); /* Ending rotation angle (360 degrees) */
      border-radius: 20px;
      width: 50px;
      height: 50px;
      /* display: none; */
    }
    100% {
      transform: rotate(360deg);
      width: 100px;
      height: 150px;
    }
  }
  .navbar.collapsing {
    animation: collapse 1s ease forwards;
  }
  @keyframes collapse {
    0% {
      width: 100px;
      height: 150px;
    }
    50% {
      border-radius: 20px;
    }
    75% {
      border-radius: 30px;
    }
    100% {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }
}
