.cardCarousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 5vh;
  width: 100%;
  h1 {
    color: white;
    font-size: 2.5em;
    letter-spacing: 5px;
    text-shadow: 3px 3px 6px #6b0274, -3px -3px 7px #04d5ec,
      -3px 3px 8px #02f840, 3px -3px 9px #6b0274;
  }
}
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

.card {
  padding: 20px;
  background-image: linear-gradient(45deg, #ff8a00, #ff0080);
  margin: 10px;
  background-color: #f9f9f9;
  transition: transform 0.3s ease;
  animation: fadeIn 0.5s ease forwards;
  border-radius: 20px;
  width: 400px;
  height: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  > p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1em;
    
    color: white;
    margin-bottom: 10px;
    /* letter-spacing: .05em; */
  }
  > img {
    /* max-width: 100%; */
    max-height: 70%;
    height: auto;
    width: auto;
    border-radius: 15px;
  }
}

.pagination {
  display: flex;
  margin-top: 2vh;
  gap: 10vw;
  button {
    &:active {
      transform: scale(1.2);
    }
  }
}

.prevButton,
.nextButton {
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 5em;
  height: 3em;
  font-size: 1em;
}

.prevButton:hover,
.nextButton:hover {
  background-color: #0056b3;
}

.card.next {
  animation: fadeOutNext 1s ease forwards;
  /* border: 5px solid blue; */
}
.card.prev {
  animation: fadeOutPrev 1s ease forwards;
  /* border: 5px solid green; */
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOutNext {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}
@keyframes fadeOutPrev {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

@media (max-width: 500px) {
  .cardCarousel {
    .card {
      width: 300px;
      height: 300px;
      p {
        font-size: 0.9em;
      }
      img {
        max-height: 60%;
      }
    }
    .prevButton,
    .nextButton {
      width: 5em;
      height: 2em;
    }
  }
}
